<div
  class="modal fade"
  id="modifyClientModal{{this._id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modifyClienttModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/modify-client/{{this._id}}" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Cliente</h5>
        </div>
        <div class="modal-body">

          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="name"
              placeholder="Nombre"
              value={{this.name}}
              required
            />
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="lastName"
              placeholder="Apellido"
              required
              value={{this.lastName}}
            />
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="lastName2"
              placeholder="Segundo Apellido (no obligatorio)"
              value={{this.lastName2}}
            />
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="number"
              name="age"
              placeholder="Edad"
              value={{this.age}}
              min=2
              max=99
            />
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Dirección de E-mail"
              required
              value={{this.email}}
            />
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="phone"
              placeholder="Teléfono"
              required
              value={{this.phone}}
            />
          </div>

        </div>
        <div class="modal-footer">
          <button
            id="submit"
            type="submit"
            class="btn btn-primary"
          >Modificar</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Cerrar</button>

        </div>
      </form>
    </div>
  </div>
</div>