<div
  class="modal fade"
  id="modifyPsyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modifyPsyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/modify-psychologist" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar Psicólogo</h5>
        </div>
        <div class="modal-body">

          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="name"
              placeholder="Nombre"
              value={{this.name}}
              required
            />
            <div class="valid-feedback">Username field is valid!</div>
            <div class="invalid-feedback">Username field cannot be blank!</div>
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="lastName"
              placeholder="Apellido"
              required
              value={{this.lastName}}
            />
            <div class="valid-feedback">Username field is valid!</div>
            <div class="invalid-feedback">Username field cannot be blank!</div>
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="password"
              name="password"
              placeholder="Contraseña"
              required
            />
            <div class="valid-feedback">Password field is valid!</div>
            <div class="invalid-feedback">Password field cannot be blank!</div>
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Dirección de E-mail"
              required
              value={{this.email}}
            />
            <div class="valid-feedback">Email field is valid!</div>
            <div class="invalid-feedback">Email field cannot be blank!</div>
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="phone"
              placeholder="Teléfono"
              required
              value={{this.phone}}
            />
            <div class="valid-feedback">Password field is valid!</div>
            <div class="invalid-feedback">Password field cannot be blank!</div>
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="presentation"
              placeholder="Presentación"
              required
              value={{this.presentation}}
            />
          </div>

        </div>
        <div class="modal-footer">
          <button
            id="submit"
            type="submit"
            class="btn btn-primary"
          >Modificar</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Cerrar</button>

        </div>
      </form>
    </div>
  </div>
</div>