<h2>PSICO - {{this.name}} </h2>
<form action="/auth/logout" method="POST">
  <button id="submit" type="submit" class="btn btn-primary">Log out</button>
</form>

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#createClientModal"
>
  <i class="fas fa-user-plus"></i>
  Crear CLiente
</button>

<!-- Modal Create -->
<div
  class="modal fade"
  id="createClientModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createClientModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/create-client" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo Cliente</h5>
        </div>
        <div class="modal-body">

          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="name"
              placeholder="Nombre"
              required
            />
            <div class="valid-feedback">Username field is valid!</div>
            <div class="invalid-feedback">Username field cannot be blank!</div>
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="lastName"
              placeholder="Apellido"
              required
            />
            <div class="valid-feedback">Username field is valid!</div>
            <div class="invalid-feedback">Username field cannot be blank!</div>
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="lastName2"
              placeholder="Segundo Apellido (no obligatorio)"
            />
            <div class="valid-feedback">Username field is valid!</div>
            <div class="invalid-feedback">Username field cannot be blank!</div>
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="number"
              name="age"
              placeholder="Edad"
            />
            <div class="valid-feedback">Username field is valid!</div>
            <div class="invalid-feedback">Username field cannot be blank!</div>
          </div>

          <div class="col-md-12">
            <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Dirección de E-mail"
              required
            />
            <div class="valid-feedback">Email field is valid!</div>
            <div class="invalid-feedback">Email field cannot be blank!</div>
          </div>

          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="phone"
              placeholder="Teléfono"
              required
            />
            <div class="valid-feedback">Password field is valid!</div>
            <div class="invalid-feedback">Password field cannot be blank!</div>
          </div>

          {{! <div class="col-md-12">
              <select class="form-select mt-3" required>
                <option selected disabled value="">Position</option>
                <option value="jweb">Junior Web Developer</option>
                <option value="sweb">Senior Web Developer</option>
                <option value="pmanager">Project Manager</option>
              </select>
              <div class="valid-feedback">You selected a position!</div>
              <div class="invalid-feedback">Please select a position!</div>
            </div> }}

        </div>
        <div class="modal-footer">
          <button
            id="submit"
            type="submit"
            class="btn btn-primary"
          >Añadir</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Cerrar</button>

        </div>
      </form>
    </div>
  </div>
</div>

<!-- List -->
<ul class="list-group col-2">
  {{#if clients}}
    {{#each clients}}
      <li class="list-group-item">
        <div class="row">
          <div class="col-6">{{this.name}}</div>
          <div class="col-6">
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#modifyClientModal{{this._id}}"
            >
              <i class="fas fa-user-edit"></i>
            </button>
          </div>
        </div>
      </li>

      <!-- Modal Modify -->
      <div
        class="modal fade"
        id="modifyClientModal{{this._id}}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modifyClienttModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="/modify-client/{{this._id}}" method="POST">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar Cliente</h5>
              </div>
              <div class="modal-body">

                <div class="col-md-12">
                  <input
                    class="form-control"
                    type="text"
                    name="name"
                    placeholder="Nombre"
                    value={{this.name}}
                    required
                  />
                  <div class="valid-feedback">Username field is valid!</div>
                  <div class="invalid-feedback">Username field cannot be blank!</div>
                </div>
                <div class="col-md-12">
                  <input
                    class="form-control"
                    type="text"
                    name="lastName"
                    placeholder="Apellido"
                    required
                    value={{this.lastName}}
                  />
                  <div class="valid-feedback">Username field is valid!</div>
                  <div class="invalid-feedback">Username field cannot be blank!</div>
                </div>
                <div class="col-md-12">
                  <input
                    class="form-control"
                    type="text"
                    name="lastName2"
                    placeholder="Segundo Apellido (no obligatorio)"
                    value={{this.lastName2}}
                  />
                  <div class="valid-feedback">Username field is valid!</div>
                  <div class="invalid-feedback">Username field cannot be blank!</div>
                </div>
                <div class="col-md-12">
                  <input
                    class="form-control"
                    type="number"
                    name="age"
                    placeholder="Edad"
                    value={{this.age}}
                  />
                  <div class="valid-feedback">Username field is valid!</div>
                  <div class="invalid-feedback">Username field cannot be blank!</div>
                </div>

                <div class="col-md-12">
                  <input
                    class="form-control"
                    type="email"
                    name="email"
                    placeholder="Dirección de E-mail"
                    required
                    value={{this.email}}
                  />
                  <div class="valid-feedback">Email field is valid!</div>
                  <div class="invalid-feedback">Email field cannot be blank!</div>
                </div>

                <div class="col-md-12">
                  <input
                    class="form-control"
                    type="text"
                    name="phone"
                    placeholder="Teléfono"
                    required
                    value={{this.phone}}
                  />
                  <div class="valid-feedback">Password field is valid!</div>
                  <div class="invalid-feedback">Password field cannot be blank!</div>
                </div>

              </div>
              <div class="modal-footer">
                <button
                  id="submit"
                  type="submit"
                  class="btn btn-primary"
                >Modificar</button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >Cerrar</button>

              </div>
            </form>
          </div>
        </div>
      </div>

    {{/each}}
  {{else}}
    <p>No hay clientes registrados</p>
  {{/if}}
</ul>